<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eveniet cum obcaecati velit, aut
            architecto fuga perspiciatis distinctio placeat aliquam, iste molestiae libero ut ea necessitatibus delectus
            nostrum, impedit inventore?</p>
    </div>
</section>