<div class="jumbotron mt-4">
    <h1 class="display-4">Notas en NodeJS y Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati repellat, nisi, eum necessitatibus facere totam
    officiis atque vero fuga sed reprehenderit ullam provident similique est corrupti consectetur cupiditate? Nulla,
    libero!</p>
    <hr class="my-4">
    <a href="https://www.google.com" class="btn btn-primary">IR!</a>
</div>