<h1>Navigation</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati repellat, nisi, eum necessitatibus facere totam
    officiis atque vero fuga sed reprehenderit ullam provident similique est corrupti consectetur cupiditate? Nulla,
    libero!</p>
<h1>Footer</h1>