{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{success_msg}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if danger_msg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{danger_msg}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if advertencias}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{#each advertencias}}
    <strong>{{msj}}</strong><br>
    {{/each}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if login_error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{login_error}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}